<div>
  <p>
    Parabéns <strong>{{ student }}</strong>, agora você faz parte da academia Gympoint.
    <br>
    Sinta-se à vontade para desfrutar dos benefícios oferecidos pela sua modalidade de contratação, qualquer dúvida nos acione que responderemos o mais breve possível.
  </p>
  <h3>Confira abaixo os detalhes do seu plano:</h3>
  <ul>
    <li><strong>Plano:</strong> {{ plan }} </li>
    <li><strong>Valor:</strong> R${{ price }}</li>
    <li><strong>Contratação:</strong> {{ start_date }}</li>
    <li><strong>Vigência:</strong> {{ end_date }}</li>
  </ul>
</div>
